<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woncheol.yuljeon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/multiwindow_default_width" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/multiwindow_default_height" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/multiwindow_min_width" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/multiwindow_min_height" />
        <activity
            android:name="com.woncheol.yuljeon.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.woncheol.yuljeon.Tutorial"
            android:label="튜토리얼" />
        <activity
            android:name="com.woncheol.yuljeon.Bap"
            android:label="식단" />
        <activity
            android:name="com.woncheol.yuljeon.Call"
            android:label="연락처" />
        <activity
            android:name="com.woncheol.yuljeon.Schedule"
            android:label="일정" />
        <activity
            android:name="com.woncheol.yuljeon.Webview"
            android:label="홈페이지" />
        <activity
            android:name="com.woncheol.yuljeon.About"
            android:label="식단" />
        <activity
            android:name="com.woncheol.yuljeon.TutorialWebview"
            android:label="도움말" />
        <activity
            android:name="com.woncheol.yuljeon.Haksaeng"
            android:label="학생부 소식" />
        <activity
            android:name="com.woncheol.yuljeon.Builder"
            android:label="히든메뉴" />
        <activity
            android:name="com.woncheol.yuljeon.Version"
            android:label="히든메뉴" />
        <activity
            android:name="com.woncheol.yuljeon.PrefsFragment"
            android:label="설정" />
    </application>

</manifest>